version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - backend/.env
    depends_on:
      - db
    restart: always


  db:
    image: postgres:15-alpine
    env_file:
      - backend/.env
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Puma1967
      POSTGRES_DB: postgres

    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: always


volumes:
  postgres_data: