fastapi>=0.104.1
uvicorn[standard]>=0.24.0
sqlalchemy>=2.0.23
psycopg2-binary>=2.9.9
python-dotenv>=1.0.0
spotipy>=2.23.0
pgvector
sqlalchemy-utils
pandas # Do wczytywania pliku Parquet
pyarrow # Do odczytu plików Parquet
spacy
gliner==0.1.7
sentence-transformers>=2.2.2
scikit-learn
langdetect
torch
torchvision
transformers==4.38.2